<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8">
	
</head>
<body>
	<h1 layout:fragment="header">
		Detalhes do chamado
	</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-1"></div>
    		<div class="col-sm-10">
      			<div>
					<div class="row border">
						<div class="col-sm-1">
							N°: <label class="font-weight-bold" th:text="${chamado.id}"></label>
						</div>
						<div class="col-sm-9">
							Título: <label class="font-weight-bold" th:text="${chamado.titulo}"></label>
						</div>
						<div class="col-sm-2">
							Status: <label class="font-weight-bold" th:text="${chamado.status}"></label>
						</div>
					</div>
					<div class="row border">
						<div class="col-sm-4">
							Requerente: <label class="font-weight-bold" th:text="${chamado.requerente} ? ${chamado.requerente.nome}
								+ ' ' +${chamado.requerente.sobrenome} : ''"></label>
						</div>
						<div class="col-sm-4">
							Técnico: <label class="font-weight-bold" th:text="${chamado.atendente} ? ${chamado.atendente.nome}
								+ ' ' +${chamado.atendente.sobrenome} : ''"></label>
						</div>
						<div class="col-sm-4">
							Categoria: <label class="font-weight-bold" th:text="${chamado.categoria.descricao}"></label>
						</div>
					</div>
					<div class="row border">
						<div class="col-sm-5">
							Data Abertura: <label class="font-weight-bold" th:text="${#temporals.format(chamado.dataAbertura, 'dd/MM/yyyy hh:mm')}"></label>
						</div>
						<div class="col-sm-5">
							Data Encerramento: <label class="font-weight-bold" th:text="${#temporals.format(chamado.dataEncerramento, 'dd/MM/yyyy hh:mm')}"></label>
						</div>
						<div class="col-sm-2">
							SLA: <label class="font-weight-bold" th:text="${chamado.sla}"></label>
						</div>
					</div>
					<div class="row border">
						<div class="col-sm-12">
							Descrição:<br>
							<p th:text="${chamado.descricao}">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
								when an unknown printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also the leap into
								electronic typesetting, remaining essentially unchanged. It was popularised in
								the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
								and more recently with desktop publishing software like Aldus PageMaker including
								versions of Lorem Ipsum.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<form action="">
							<div class="form-group">
								<label>Mensagem</label>
								<textarea rows="5" class="form-control"></textarea>
							</div>
							<div class="text-right">
								<button type="submit" class="btn btn-sm btn-primary">Enviar</button>
							</div>
						</form>
					</div>
				</div>
				<br>
				<table class="table table-sm table-bordered table-striped">
					<tr class="row" style="margin: 0" th:each="iteracao : ${chamado.iteracoes}">
						<td class="col-sm-12">
							<div class="row">
								<div class="col-2">N° <label th:text="${iteracao.id}"></label></div>
								<div class="col-5">Data: <label th:text="${iteracao.data}"></label></div>
								<div class="col-5">Autor: <label th:text="${iteracao.usuario.nome}"></label></div>
							</div>
							<div class="row">
								<div class="col-12" th:text="${iteracao.mensagem}">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
								</div>
							</div>
						</td>
					</tr>
				</table>
    		</div>
    		<div class="col-sm-1"></div>
  		</div>
	</div>
	
</body>
</html>