<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8">

</head>
<body>
	
	<h1 layout:fragment="header">
		Cadastro de Usuários
	</h1>
	
	<div layout:fragment="content">
		
		<form action="#" th:action="@{/usuario/(form)}" th:object="${usuario}" method="post">
			<input type="hidden" name="email" th:field="*{email}" th:if="${email} != null">
			<div th:if="${email} == null" class="form-group">
				<label>E-mail</label>
				<input type="email" name="email" th:field="*{email}" class="form-control form-control-sm" placeholder="email@exemplo.com">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="label alert-danger"></div>
			</div>
			<div class="form-group">
				<label>Nome</label>
				<input type="text" name="nome" th:field="*{nome}" class="form-control form-control-sm" placeholder="nome">
				<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="label alert-danger"></div>
			</div>
			<div class="form-group">
				<label>Sobrenome</label>
				<input type="text" name="sobrenome" th:field="*{sobrenome}" class="form-control form-control-sm" placeholder="sobrenome">
				<div th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}" class="label alert-danger"></div>
			</div>
			
			<div class="form-group">
				<label>Senha</label>
				<input type="password" name="senha" th:field="*{senha}" class="form-control form-control-sm">
				<div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="label alert-danger"></div>
			</div>
			
			<div class="form-group">
				<label>Status</label>
				<select name="status" th:field="*{status}" class="form-control form-control-sm">
					<option value="ATIVO">Ativo</option>
					<option value="INATIVO">Inativo</option>
				</select>
				<div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="label alert-danger"></div>
			</div>
			<div class="form-group">
				<label>Roles</label>
				<select name="roles" th:field="*{roles}" class="form-control form-control-sm" multiple="multiple">
					<option value="ROLE_ADMIN">Admin</option>
					<option value="ROLE_TECNICO">Tecnico</option>
					<option value="ROLE_USER">User</option>
				</select>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="label alert-danger"></div>
			</div>
			<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			<br/>
			<br/>
		</form>
		
	</div>
	
</body>
</html>