<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8">

</head>
<body>
	<h1 layout:fragment="header">
		Listagem de usuários
	</h1>
	<div layout:fragment="content">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Email</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Status</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.email}">nome.sobrenome@exemplo.com</td>
					<td th:text="${usuario.nome}">nome</td>
					<td th:text="${usuario.sobrenome}">sobrenome</td>
					<td th:text="${usuario.status}">status</td>
					<td>
						<a th:href="@{'/usuario/editar/'+${usuario.email}}" href="#" class="btn btn-primary btn-sm">
							<i class="far fa-edit"></i>
						</a>
						<a th:href="@{'/usuario/remover/'+${usuario.email}}" href="#" class="btn btn-danger btn-sm">
							<i class="far fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>